<header class="pt-0 pb-0 text-base sm:flex sm:items-center">
  <div class="flex-grow uoc-center-left">  
    <a href="index.html"><picture>
      <source srcset="./assets/images/logocyber.png" type="image/webp" class="mx-auto sm:mx-0 sm:text-left mb-[-1rem] w-[150px] sm:mb-0" />
      <img src="./assets/images/logocyber.png" alt="Logo-Cyber" class="mx-auto sm:mx-0 sm:text-left mb-[-1rem] w-[150px] sm:mb-0" />
    </picture></a>
  </div>
  <div class="flex-grow text-center uoc-header-3c gap-4">
    <p><a class="no-underline text-inherit hover:text-brown" href="">Quienes somos?</a></p><p><a class="no-underline text-inherit hover:text-brown" href="">Que ofrecemos?</a></p><p><a class="no-underline text-inherit hover:text-brown" href="pagethree.html">Eventos</a></p>
  </div>
</header>